<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- // here we want to run the external file header.ejs. to do that we use the include function inside the ejs tags --> 
    <%- include('header.ejs') %>

    <!-- create a table to display  -->
    <%- include('todos.ejs') %>
    <%- include('footer.ejs') %>
  
      
      
</body>
</html>