<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>To-do Manager</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <!-- // here we want to run the external file header.ejs. to do that we use the include function inside the ejs tags -->
                <form action="">
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" placeholder="What's new" class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm" required/>
                        </div>
                        <div class="flex-auto">

                            <input type="date" class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4">

                        </div>
                        <div class="flex-none">
                            <button type="submit" class="text-cyan-50 bg-green-600 px-5  py-1.5 rounded font-meduim mr-2 mb">Add</button>

                        </div>
                    </div>
                </form>
                <%- include('todos.ejs') %>
                    <%- include('footer.ejs') %>
        </div>
    </div>
</body>

</html>