<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function updateTodo(id) {
            fetch(`/todos/${id}/markAsCompleted`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => {
                if (res.ok) {
                    window.location.reload()
                }
            })
            .catch((err) => console.error(err))
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(res => {
                if (res.ok) {
                    window.location.reload()
                }
            }).catch((err) => console.error(err))
        }
    </script>
    <title>To-do Manager</title>
</head>

<body>
    
    
    <div class="grid grid-cols-6">
        
        <div class="col-start-3 col-span-2">
            <%- include ('header.ejs') %>

            <form action="/todos" method="post">
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="What's new?"
                            class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                    </div>
                    <div class="flex-auto">

                        <input type="date" name="dueDate"
                            class="border boarder-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4">

                    </div>
                    <div class="flex-none">
                        <button type="submit"
                            class="text-cyan-50 bg-green-600 px-5  py-1.5 rounded font-meduim mr-2 mb">Add</button>

                    </div>
                </div>
            </form>
            <%- include('todos.ejs') %>
                <%- include('footer.ejs') %>
        </div>
    </div>
</body>

</html>